{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>Login</h1>
  <form method="POST">
    <label>Usuario:
      <input type="text" name="username" required>
    </label><br>
    <label>Contraseña:
      <input type="password" name="password" required>
    </label><br>
    <button type="submit">Iniciar sesión</button>
    <p class="mt-2">¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>.</p>
  </form>
</div>
{% endblock %}